.iframe-class {
  width: 100%;
  height: 100%;
  resize: both;
  overflow: auto;
}

/* new below here */
.iframe-container {
  overflow: hidden;
  padding-top: 50%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: white;
  display: none;
}

#timer {
  font-family: monospace;
}

.crucible-notification-box {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 0 solid transparent;
  border-radius: .5rem;
  max-width: 300px;
  word-wrap: break-word;
}

.crucible-notification-style {
  color: #00434e;
  background-color: #cce6ea;
  border-color: #b8dce2;
}

.license-info {
  font-family: Arial, sans-serif; /* Modern font */
  font-size: 14px;          /* Readable font size */
  line-height: 1.5;         /* Better line spacing */
}

.license-info a {
  color: #0073e6;           /* Link color */
  text-decoration: none;    /* Remove underline */
}

.license-info a:hover {
  text-decoration: underline; /* Underline on hover */
}
